@import "tailwindcss";

@theme {
  --color-bg: #0b0b0d;
  --color-bg-card: rgba(255, 255, 255, 0.06);
  --color-bg-glass: rgba(255, 255, 255, 0.07);
  --color-border: rgba(255, 255, 255, 0.12);

  --color-primary: #6366f1;   /* indigo */
  --color-secondary: #06b6d4; /* cyan */
}

body {
  background: var(--color-bg);
  color: white;
}
